.tag {
  color: #A168AB;
  display: inline;
  font-size: 1rem;
  margin-right: 1rem;
}

.tag a {
  text-decoration: none;
}

.tag:last-child {
  margin-right: 0;
}

@media (min-width: 768px) {
  .tag {
    font-size: 1.375rem;
  }
}
