.dateDivider {
  font-size: var(--font-xs);
  color: var(--color-primary-dark);
  margin-bottom: var(--space-1);
}

.dateDivider__weekday {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5%;
}

.dateDivider__day,
.dateDivider__month,
.dateDivider__year {
  font-weight: 600;
}
