.postTitle,
.postTitle__bigTitle {
  color: var(--color-text-dark);
  font-weight: 700;
}

.postTitle {
  font-size: var(--font-lg);
  margin-bottom: 0;
}

.postTitle__bigTitle {
  font-family: var(--font-serif);
  font-size: var(--font-xl);
  font-family: var(--font-serif);
  line-height: 2rem;
}

.postHeader {
  margin-bottom: var(--space-4);
}

.postContent h2,
.postContent h3,
.postContent h4,
.postContent h5,
.postContent h6,
.postContent p,
.postContent figure,
.postContent blockquote,
.postContent ol,
.postContent ul {
  margin-bottom: var(--space-5);
}

.postContent blockquote > p,
.postContent blockquote > cite {
  margin-bottom: 0;
}

.postContent blockquote {
  border-left: solid var(--space-1) var(--color-primary);
  padding-left: var(--space-2);
}

.postContent blockquote p {
  font-family: var(--font-serif);
  font-size: var(--font-md);
  font-weight: 400;
  line-height: calc(var(--font-md) * 1.33);
  margin-bottom: var(--space-2);
}

.postContent blockquote cite {
  font-size: var(--font-sm);
}

.postContent ol {
  margin-left: var(--space-4);
}

.postContent ul {
  margin-left: var(--space-3);
}

/* corrects first list item spacing */
.postContent p + ol,
.postContent p + ul {
  margin-top: calc(var(--space-5) * -1);
}

/* corrects blockquote following p spacing */
.postContent p + blockquote {
  margin-top: calc(var(--space-4) * -1);
}
