.postWrapper {
  max-width: 37.5rem;
  margin: 0 auto;
}

.postTitle,
.postTitle__bigTitle,
.postContent h2 {
  color: var(--color-text-dark);
  font-weight: 700;
}

.postTitle {
  font-size: var(--font-lg);
  margin-bottom: 0;
}

.postTitle__bigTitle,
.postContent h2 {
  font-family: var(--font-serif);
  font-size: var(--font-xl);
  line-height: 2.25rem;
}

.postHeader {
  margin-bottom: var(--space-4);
}

.postContent h2,
.postContent h3,
.postContent h4,
.postContent h5,
.postContent h6 {
  font-family: var(--font-serif);
}

.postContent h2 {
  margin-top: var(--space-6);
}

.postContent h3 { }
.postContent h4 { }
.postContent h5 { }
.postContent h6 { }

.postContent h2,
.postContent h3,
.postContent h4,
.postContent h5,
.postContent h6,
.postContent p,
.postContent figure,
.postContent blockquote,
.postContent ol,
.postContent ul {
  margin-bottom: var(--space-5);
}

.postContent blockquote > p,
.postContent blockquote > cite {
  margin-bottom: 0;
}

.postContent blockquote {
  border-left: solid var(--space-1) var(--color-primary);
  padding-left: var(--space-2);
}

.postContent blockquote p {
  font-family: var(--font-serif);
  font-size: var(--font-md);
  font-weight: 400;
  line-height: calc(var(--font-md) * 1.33);
  margin-bottom: var(--space-2);
}

.postContent blockquote cite {
  font-size: var(--font-sm);
}

.postContent ol {
  margin-left: var(--space-4);
}

.postContent ul {
  margin-left: var(--space-3);
}

/* corrects first list item spacing */
.postContent p + ol,
.postContent p + ul {
  margin-top: calc(var(--space-5) * -1);
}

/* corrects blockquote following p spacing */
.postContent p + blockquote {
  margin-top: calc(var(--space-4) * -1);
}

/* corrects paragraph, list following heading spacing */
.postContent h2 + p,
.postContent h2 + ul {
  margin-top: calc(var(--space-3) * -1);
}

.postContent h3 + p { }
.postContent h4 + p { }
.postContent h5 + p { }
.postContent h6 + p { }

.postContent ul > li > ul {
  margin-bottom: 0;
}

/* corrects WP video embeds */
.postContent .wp-video {
  width: 100% !important;
}

.postContent .wp-video .wp-video-shortcode {
  height: auto !important;
}

.postContent table {
  font-size: 1rem;
  line-height: normal;
}

.postContent th {
  text-align: left;
}

.postContent td {
  border-bottom: 1px solid #ddd;
  padding: 0.5rem 0;
  vertical-align: top;
}

.postContent tr td:first-child {
  padding-right: 0.5rem;
}

.postContent tr td:last-child {
  padding-left: 0.5rem;
}

.postContent tr:first-child td {
  padding-top: 0;
}

.postContent tr:last-child td {
  padding-bottom: 0;
  border-bottom: none;
}

/* Report Card styles */
.postContent :global(.wp-block-group--quoteCompare) {
  border: 1px solid #eee;
  border-radius: var(--space-2);
  box-shadow: 0 var(--space-2) var(--space-3) rgba(0,0,0,0.05);
  padding: var(--space-3);
  margin-bottom: var(--space-5);
}

.postContent :global(.wp-block-group--quoteCompare) blockquote {
  border-left: none;
  border-bottom: 1px solid #eee;
  color: var(--color-text-dark);
  margin: 0 0 var(--space-2) 0;
  padding: 0 0 var(--space-2) 0;
}

.postContent :global(.wp-block-group--quoteCompare) blockquote p {
}

.postContent :global(.wp-block-group--quoteCompare) blockquote + p {
  padding: 0;
  margin: 0;
}