.filterButtons {
  display: flex;
  gap: var(--space-2);
  margin-bottom: var(--space-3);
}

.filterButtons__listItem {
  list-style-type: none;
}

.filterButton {
  background: transparent;
  border: 0.125rem solid var(--color-primary);
  border-radius: var(--space-3);
  box-sizing: border-box;
  color: var(--color-primary);
  font-size: var(--font-xs);
  height: 28px;
  padding: 0 var(--space-3);
}

.filterButton__active {
  background: var(--color-primary);
  color: #FFFFFF;
}

.filterButton__filterTotal {
  color: rgba(255,255,255,0.80);
  font-size: var(--font-xxs);
  position: relative;
  top: -0.175rem;
}