:root {
  --border-radius: 4px;
  --color-text: #606060;
  --color-text-light: #767676;
  --color-text-dark: #362C38;
  --color-primary: #A168AB;
  --color-code-bg: #fff4db;
  --color-code: #8a6534; /* ??? */
  --font-sans: "Noto Sans", sans-serif;
  --font-serif: "Source Serif 4", serif;
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --font-xl: 2rem;
  --font-lg: 1.5rem;
  --font-md: 1.125rem;
  --font-sm: 1rem;
  --font-xs: 0.875rem;
  --font-paragraph: var(--font-md);
  --line-height-loose: 1.75;
  --line-height-normal: 1.5;
  --line-height-dense: 1.1;
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 1rem;
  --space-4: 1.5rem;
  --space-5: 2rem;
  --space-6: 4rem;
  --space-7: 8rem;
  --size-content: 37.5rem;
  /*--size-content: 54rem;*/
  --size-gutter: var(--space-3);
  --size-gap: var(--space-6);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  padding: 0 0.5rem;
}

a {
  color: var(--color-primary);
  cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  overflow-wrap: break-word;
}

input,
button,
textarea,
select {
  font: inherit;
}

ol,
ul {
  padding: 0;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: "âƒ ";
}

hr {
  color: var(--color-text-light);
  margin: 0 auto var(--space-4);
  width: 20%;
}

@media (min-width: 38.5rem) {
  body {
    padding: 0;
  }
}

/*
html {
  -webkit-text-size-adjust: 100%;
  font: sans-serif;
  font-size: 16px;
  line-height: var(--line-height-normal);
  overflow-y: scroll;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text-dark);
  font-family: sans-serif;
  font-family: var(--font-sans);
  font-weight: normal;
  margin: 0;
  word-wrap: break-word;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}

a:active,
a:hover {
  outline-width: 0;
  text-decoration: none;
}

abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}

b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  margin: 0;
  padding: 0;
  line-height: var(--line-height-dense);
  letter-spacing: -0.01em;
}

h1 > b {
  color: var(--color-primary);
}

img {
  border-style: none;
  max-width: 100%;
}

code,
kbd,
pre,
samp {
  font-family: var(--font-mono);
  font-size: 1em;
  line-height: inherit;
}

hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  margin-bottom: calc(var(--space-4) - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}

hgroup,
img,
figure,
fieldset,
ul,
ol,
dl,
dd {
  margin: 0;
  padding: 0;
  margin-bottom: var(--space-4);
}

ul,
ol {
  list-style-position: outside;
  list-style-image: none;
}

pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: var(--space-4);
  font-size: 0.875rem;
  line-height: var(--line-height-normal);
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: var(--border-radius);
  overflow: auto;
  word-wrap: normal;
  padding: var(--space-4);
}

b,
strong,
dt,
th {
  font-weight: bold;
}

li {
  margin-bottom: calc(var(--space-4) / 2);
}

ol li,
ul li {
  padding-left: 0;
}

li > ol,
li > ul {
  margin-bottom: calc(var(--space-4) / 2);
  margin-left: var(--space-4);
  margin-top: calc(var(--space-4) / 2);
}

blockquote *:last-child {
  margin-bottom: 0;
}

li *:last-child {
  margin-bottom: 0;
}

p *:last-child {
  margin-bottom: 0;
}

p {
  max-width: 680px;
}

code {
  font-size: 0.875rem;
}

kbd {
  font-size: 0.875rem;
}

samp {
  font-size: 0.875rem;
}

abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

tt,
code {
  background-color: var(--color-code-bg);
  border-radius: var(--border-radius);
  color: var(--color-code);
  font-family: var(--font-mono);
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  word-break: normal;
}

pre code {
  background: none;
}

code:before,
code:after,
tt:before,
tt:after {
  content: "\00a0";
  letter-spacing: -0.2em;
}

pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: none;
}
*/
