.layoutWrapper {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  font-family: var(--font-sans);
  font-size: var(--font-md);
  line-height: 1.5rem;
  min-height: 100vh;
  margin: 0 auto;
  max-width: var(--size-content);
}

.mainWrapper {
  flex-grow: 1;
}

.mainWrapper,
.footerWrapper {
  width: 100%;
}

.footerWrapper {
  font-size: var(--font-xs);
  margin: var(--space-6) 0 var(--space-3);
}

@media (min-width: 37.5rem) {
  .mainWrapper {
    max-width: var(--size-content);
    padding: 0 var(--space-5);
  }

  .footerWrapper {
    max-width: var(--size-content);
    padding: 0 var(--space-5);
  }
}

@media (min-width: 60rem) {
  .layoutWrapper {
    display: block;
  }

  .layoutWrapper,
  .mainWrapper {
    max-width: 75rem;
    box-sizing: border-box;
  }

  .footerWrapper {
    max-width: initial;
    padding: 0 var(--space-5);
    text-align: center;
  }
}
