.postWrapper {
  margin: 8rem 0;
}

.postWrapperInner {
  color: #CDCACD;
  /* color: #fff; */
  font-family: 'Halant', sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.postWrapperInner p {
  margin-bottom: 1rem;
}

.postTitle,
.postDate {
  font-weight: normal;
}

.postDate { }

@media (min-width: 768px) {
  .postWrapper {
    margin-top: 10rem;
  }

  .postWrapperInner {
    margin-left: 8rem;
    font-size: 1.75rem;
    line-height: 2.5rem;
  }

  .postWrapperInner p {
    margin-bottom: 2rem;
  }
}
