h1 {
  font-size: 1.125em;
  margin: 4rem 0 2rem;
}

h1:first-child {
  margin-top: 0;
}

p + h2 {
  margin-top: 4rem;
}

.postWrapper {
  margin: 8rem 0;
}

.postWrapperInner {
  color: #CDCACD;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.postWrapperInner hr {
  border: 1px solid;
  margin: 4rem auto;
  width: 2rem;
}

.postWrapperInner ul,
.postWrapperInner ul + p {
  font-size: 0.875em;
}

.postWrapperInner ul + p {
  margin-bottom: 0;
}

.postWrapperInner p {
  margin-bottom: 1rem;
}

.postWrapperInner li {
  margin: 0 0 0 2rem;
  list-style-type: disc;
}

.postWrapperInner li p {
  margin-bottom: 0;
}

.postWrapperInner table {
  border-collapse: initial;
  font-size: 0.8em;
  padding: 1rem 0;
}

.postWrapperInner table thead {
  display: none;
}

.postWrapperInner table tr,
.postWrapperInner table td {
  display: block;
  width: 100%;
}

.postWrapperInner table tr {
  margin-bottom: 2rem;
}

.postWrapperInner table thead th {
  text-align: left;
  font-weight: 700;
}

.postTitle,
.postDate {
  font-weight: normal;
}

.postDate { }

.postWrapperInner blockquote {
  font-size: 0.75em;
  border-left: 0.25rem solid;
  padding-left: 1rem;
  line-height: 1.25;
  margin: 3rem auto 2rem;
}

.postWrapperInner blockquote span {
  font-size: 0.875em;
}

.postWrapperInnerTimeline blockquote {
  font-size: 0.66em;
  line-height: 1.25;
  background: rgba(0,0,0,0.15);
  border: none;
  padding: 1rem;
  color: #6F5B74;
  margin: 0 0 1rem 0;
  border-radius: 0.5rem;
}

.postWrapperInnerTimeline blockquote > p {
  margin-bottom: 0;
}
.postWrapperInnerTimeline blockquote a {
  color: #96779D;
}

.postWrapperInnerTimeline > table {
  display: block;
  width: 100vw;
  position: absolute;
  left: 0;
  overflow-x: scroll;
}

.postWrapperInnerTimeline > table > tbody {
  display: grid;
  grid-template-columns: repeat(11, 70vw);
  grid-column-gap: 4rem;
  margin: 8rem 0;
}

.postWrapperInnerTimeline > table > tbody::-webkit-scrollbar {
  display: none;
}

.postWrapperInnerTimeline > table > tbody > tr {
  text-align: center;
  padding: 0 1rem;
}

.postWrapperInnerTimeline > table > tbody > tr > td:nth-of-type(2),
.postWrapperInnerTimeline > table > tbody > tr > td:nth-of-type(3) {
  font-size: 1.5em;
}

.postWrapperInnerTimeline > table > tbody > tr > td:nth-of-type(4) {
  line-height: 1.5;
}

.postWrapperInnerTimeline > table > tbody > tr > td {
  margin-bottom: 1rem;
}

.postWrapperInnerTimeline > table > tbody > tr > td:last-child {
  text-align: left;
  margin-bottom: 0;
}

.postWrapperInnerTimeline > table > tbody > tr > td > span {
  max-height: 12.875rem;
}

.postWrapperInnerTimeline > table > tbody > tr > td > span > a {
  max-height: inherit;
}

.postWrapperInnerTimeline > table > tbody > tr > td > span > a > span,
.postWrapperInnerTimeline > table > tbody > tr > td > span > a > img {
  max-height: inherit;
  width: inherit !important;
}

.postWrapperInnerTimeline > table > tbody > tr > td > span > a > img {
  left: 50% !important;
  transform: translateX(-50%);
  border-radius: 1rem;
}

@media (min-width: 768px) {
  .postWrapper {
    margin-top: 10rem;
  }

  .postWrapperInner {
    margin-left: 8rem;
    font-size: 1.75rem;
    line-height: 2.5rem;
  }

  .postWrapperInner p {
    margin-bottom: 1rem;
  }

  .postWrapperInnerTimeline > table > tbody {
    grid-template-columns: repeat(11, 50vw);
  }

  .postWrapperInnerTimeline > table > tbody > tr > td > span {
    max-height: 18rem;
  }
}

@media (min-width: 1200px) {
  .postWrapperInnerTimeline > table > tbody > tr {
    margin-right: 8rem;
  }

  .postWrapperInnerTimeline > table > tbody {
    display: grid;
    grid-template-columns: repeat(11, 33vw);
  }
}
