.appHeader {
  position: fixed;
  width: 3rem;
  height: 3rem;
  margin: 0;
  top: 2rem;
}

.logo {
  background: url('../../images/wbs-logo.svg') no-repeat;
  background-size: 3rem 3rem;
  text-indent: -9999px;
  height: 100%;
  padding: 0;
  margin: 0;
}

.logo a {
  display: block;
  height: 100%;
}
