.postsListItem,
.postsListItem * {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.postsListItem {
  display: flex;
  height: 100%;
  margin-bottom: 2rem;
}

.postsListItem:first-child {
  margin-top: 8rem;
}

.postsListItem:last-child {
  margin-bottom: 2rem;
}

.postsListItem__titleWrapper { 
  margin-left: 2rem;
}

.featuredPostsListItem .postsListItem__title {
  font-size: 1.25em;
  font-weight: 700;
  letter-spacing: 0.0625rem;
}

.postsListItem a {
  color: inherit;
  text-decoration: none;
}

.postsListItem__date {
  color: #937E97;
  width: 2rem;
}

.featuredPostsListItem .postsListItem__date {
  font-size: 1.25em;
}

.postsListItem__tagsList {
  list-style-type: none;
}

@media (min-width: 768px) {
  .postsListItem__date {
    width: 4rem;
  }

  .featuredPostsListItem .postsListItem__title,
  .featuredPostsListItem .postsListItem__date {
    font-size: 1.25em;
  }

  .postsListItem:first-child {
    margin-top: 10rem;
  }

  .postsListItem__titleWrapper { 
    margin-left: 4rem;
  }
}
